html, body {
  height: 100%;
  background-color: #F6F6F6 !important;
}

main {
  min-height: 70vh;
  background-color: #F6F6F6;
  padding-bottom: 1.5rem;
}

.btn.btn-dark {
  border-radius: 0;
}

.badge {
  padding: 5px !important;
}
