click==6.7
django==1.11.5
djangorestframework==3.7.1
pytz==2017.2
plaid-python>=2.0,<2.1
stripe==1.66.0
celery==4.1
redis==2.10.6
gdax==1.0.6
coinbase==2.0.6
psycopg2==2.7.3.1
gunicorn==19.7
git+ssh://git@github.com/polyledger/lattice.git@0.3.4
