{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2 class="text-center">Log in</h2>
      <form method="post" action="{% url 'account:login' %}">
        {% csrf_token %}

        <div class="form-group">
          <label id="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          <input class="form-control" type="email" name="{{ form.username.html_name }}">
          {% if form.email.errors %}
            <div class="text-danger">
              {% for error in form.email.errors %}
                {{ error|escape }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-group">
          <label id="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          <input class="form-control" type="password" name="{{ form.password.html_name }}">
          {% if form.password.errors %}
            <div class="text-danger">
              {% for error in form.password.errors %}
                {{ error|escape }}
              {% endfor %}
            </div>
          {% endif %}
          <small>
            <a href="{% url 'account:password_reset' %}">Lost password?</a>
          </small>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <small class="form-text text-muted">
        Don't have an account? <a href="{% url 'account:signup' %}">Signup</a>.
      </small>
    </div>
  </div>
</div>

<!-- TODO: Show form errors. -->

{% endblock %}
