django==1.11.5
djangorestframework==3.7.1
pytz==2017.2
celery==4.1.1
redis==2.10.6
psycopg2==2.7.3.1
gunicorn==19.7
scipy==1.0.0
numpy==1.14.0
pandas==0.18.1
requests==2.18.4
django-redis-cache==1.7.1
django-cors-headers==2.0.0
chainbridge==1.1.5
whitenoise==3.3.1
