.ExchangeListItem > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.ExchangeList > .row > .col-2,
.ExchangeList > .row > .col-4,
.ExchangeList > .row > .col-6 {
  display: inline-block;
  float: none;
}
