{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container">
  {% if user.profile.coins_selected and user.profile.risk_assessment_complete %}
    <div class="row py-5">
      <div class="col">
        <h2 class="text-center">Your Portfolio</h2>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="row">Coins</th>
              {% for coin in selected_coins %}
              <th scope="row" class="text-center" data-toggle="tooltip" data-placement="top" title="{{coin.name}}">
                {% with 'account/img/coins/'|add:coin.filename as image_url %}
                  <img src="{% static image_url %}" width="25">
                {% endwith %}
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Percent</th>
              {% for coin in selected_coins %}
                <td class="text-center">{{coin.percent}}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md-12">
        <h3 class="text-center">Historical Performance</h3>
        <h2 class="statcard-number text-center"><small class="badge" id="percent-change"></small></h2>
        <ul class="nav nav-pills justify-content-center my-4">
          <li class="nav-item">
            <a class="nav-link active" href="#">7D</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">1M</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">3M</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">6M</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">1Y</a>
          </li>
        </ul>
        <div id="error"></div>
        <div class="text-center my-5" style="height: 270px; display: flex; justify-content: center; align-items: center;" id="spinner">
          <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <div style="position: relative; max-height: 270px;">
          <canvas id="portfolio-value-chart" class="my-5" height="270" style="display: none;"></canvas>
        <div>
      </div>
    </div>
  {% else %}
    <div class="row py-5">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'account/img/dice_icon.png' %}" alt="Dice icon">
          <div class="card-body">
            <h4 class="card-title">Complete Risk Assessment</h4>
            <p class="card-text">Please take our four-question risk assessment so we can understand your appetite for risk. We will develop an appropriate investment strategy for your portfolio.</p>
            {% if user.profile.risk_assessment_complete %}
            <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
            {% else %}
            <a href="/account/questions/" class="btn btn-dark btn-lg btn-block">Start Assessment</a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'account/img/coins_icon.png' %}" alt="Coins icon">
          <div class="card-body">
            <h4 class="card-title">Choose Coins</h4>
            <p class="card-text">Choose which coins you would like in your portfolio. Having more coins in your portfolio increases management overhead but reduces portfolio risk significantly.</p>
            {% if user.profile.coins_selected %}
            <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
            {% elif user.profile.risk_assessment_complete %}
            <a href="/account/coins/" class="btn btn-dark btn-lg btn-block">Choose Coins</a>
            {% else %}
            <button class="btn btn-dark btn-lg btn-block" disabled>Choose Coins</button>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'account/img/piggybank_icon.png' %}" alt="Piggybank icon">
          <div class="card-body">
            <h4 class="card-title">Fund Account (Premium)</h4>
            <p class="card-text">To get started with Polyledger's automated cryptocurrency investing, fund your account with BTC or ETH. This option is only available to users with premium accounts.</p>
            {% if user.profile.account_funded %}
            <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
            {% else %}
            <button class="btn btn-dark btn-lg btn-block" disabled>Fund Account</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
