{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Your account</h1>
    </div>
  </div>
  <div class="row py-5">
    {% if user.profile.account_funded and user.profile.risk_assessment_complete %}
    <div class="col">
      <h2 class="statcard-number text-center">{{ account_value }} <small class="badge" id="percent-change"></small></h2>
      <canvas id="portfolio-value-chart" class="my-5" width="100%" height="25"></canvas>
      <h4>Transfer History</h4>
      <ul class="list-group">
        {% for transfer in transfers %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1">{{transfer.currency}} {{transfer.amount|floatformat:2|intcomma}} {{transfer.transfer_type}}</h5>
              <small>{{transfer.timestamp}}</small>
            </div>
            <span class="badge badge-{% if transfer.status == 'pending' %}primary{% endif %}{% if transfer.status == 'succeeded' %}success{% endif %}">{{transfer.status}}</span>
          </div>
        </li>
        {% endfor %}
      </div>
    </ul>
    {% else %}
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'account/img/piggybank_icon.png' %}" alt="Piggybank icon">
        <div class="card-body">
          <h4 class="card-title">Fund your account</h4>
          <p class="card-text">To get started with Polyledger's automated cryptocurrency investing, fund your account with either USD or BTC. We require a $10,000 (or equivalent) minumum investment.</p>
          {% if user.profile.account_funded %}
          <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
          {% else %}
          <a href="/account/deposit/" class="btn btn-dark btn-lg btn-block">Fund Account</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'account/img/dice_icon.png' %}" alt="Dice icon">
        <div class="card-body">
          <h4 class="card-title">Complete Risk Assessment</h4>
          <p class="card-text">Please take our four-question risk assessment so we can understand your appetite for risk. We will develop an appropriate investment strategy for your portfolio.</p>
          {% if user.profile.risk_assessment_complete %}
          <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
          {% else %}
          <a href="/account/questions/" class="btn btn-dark btn-lg btn-block">Start</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
