html,
body,
#root,
#root > .AppLayout,
#root > .EmptyLayout,
.AppLayout > .container,
.EmptyLayout > .container {
  min-height: 100vh !important;
}

.card {
  border-color: #5a617b;
  background-color: #2a2d35;
}
