body {
  background: url('/static/account/img/theme.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  color: #fff;
  background-color: rgba(29, 29, 29, 0.75) !important;
}

input.form-control {
  color: #fff !important;
  padding-left: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-bottom: 1px solid #3498db;
  background-color: transparent;
}

input.form-control:active,
input.form-control:focus {
  border-bottom: 2px solid #3498db;
  background-color: transparent;
}

input.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset !important;
  -webkit-text-fill-color: #fff !important;
}
