{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Your account</h1>
    </div>
  </div>
  <div class="row py-5">
    {% if user.profile.account_funded and user.profile.risk_assessment_complete %}
    <div class="col">
      <h2 class="statcard-number text-center">$105,655 <small class="badge badge-success">5%</small></h2>
    </div>
    {% else %}
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'account/img/piggybank_icon.png' %}" alt="Piggybank icon">
        <div class="card-body">
          <h4 class="card-title">Fund your account</h4>
          <p class="card-text">To get started with Polyledger's automated cryptocurrency investing, fund your account with either USD or BTC. We require a $10,000 (or equivalent) minumum investment.</p>
          <button data-toggle="modal" data-target="#fund-account-modal" class="btn btn-primary btn-lg btn-block">Fund Account</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'account/img/dice_icon.png' %}" alt="Dice icon">
        <div class="card-body">
          <h4 class="card-title">Complete Risk Assessment</h4>
          <p class="card-text">Please take our four-question risk assessment so we can understand your appetite for risk. We will develop an appropriate investment strategy for your portfolio.</p>
          {% if user.profile.risk_assessment_complete %}
          <a role="button" class="btn btn-link btn-lg btn-block" disabled><span class="text-success">Complete <i class="icon icon-check"></i></span></a>
          {% else %}
          <a href="/account/questions/" class="btn btn-primary btn-lg btn-block">Start</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if user.profile.account_funded %}
  <div class="row my-5">
    <div class="col-md-12">
      <div class="hr-divider">
        <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
          <li class="nav-item" role="presentation">
            <a href="#day" class="nav-link active" role="tab" data-toggle="tab" aria-controls="day">1d</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#week" class="nav-link" role="tab" data-toggle="tab" aria-controls="week">7d</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#month" class="nav-link" role="tab" data-toggle="tab" aria-controls="month">1m</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#quarter-year" class="nav-link" role="tab" data-toggle="tab" aria-controls="quarter-year">3m</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#half-year" class="nav-link" role="tab" data-toggle="tab" aria-controls="half-year">6m</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#year" class="nav-link" role="tab" data-toggle="tab" aria-controls="year">1y</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="day">
          <div class="ex-line-graphs">
             <canvas
              class="ex-line-graph"
              width="600" height="350"
              data-chart="line"
              data-dataset="[[2500, 3300, 2512, 2775, 2498, 3512, 2925, 4275, 3507, 3825, 3445, 3985]]"
              data-labels="['','Aug 29','','','Sept 5','','','Sept 12','','','Sept 19','']"
              data-dark="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

<!-- Modal -->
<div class="modal fade" id="fund-account-modal" tabindex="-1" role="dialog" aria-labelledby="fund-account-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fund-account-modal-label">Fund your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <nav class="nav nav-tabs" id="myTab" role="tablist">
          <a class="nav-item nav-link active" href="#USD" data-toggle="tab" role="tab">USD</a>
          <a class="nav-item nav-link" href="#BTC" data-toggle="tab" role="tab">BTC</a>
        </nav>

        <div class="tab-content my-5">
          <div class="tab-pane fade show active" id="USD" role="tabpanel">
            <p>If you would like to buy cryptocurrency with USD, get started by clicking the button below. You'll simply have to log into your bank, then we'll handle the rest.</p>
            <div class="text-center">
              <button class="btn btn-success" id="link-btn">Link bank account</button>
            </div>
          </div>
          <div class="tab-pane fade" id="BTC" role="tabpanel">
            <div class="form-group">
              <label for="btc-address">Your Bitcoin address:</label>
              <input name="btc-address" class="form-control">
            </div>
            <div class="form-group">
              <label>Send your funds to this address:</label>
              <div class="input-group">
                <input type="text" class="form-control" value="1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX" readonly>
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><i class="icon icon-copy"></i></button>
                </span>
              </div>
            </div>
            <hr>
            <p>We'll send you an email notification as soon as your Bitcoin is received.</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
