{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb">
  <div class="container">
    <li class="breadcrumb-item">Asess Your Risk Tolerance</li>
    <li class="breadcrumb-item text-muted">View Recommendations</li>
    <li class="breadcrumb-item text-muted">Open Account</li>
  </div>
</ol>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="lead">Welcome to Polyledger! Please answer this set of questions to get started</p>
      <form action="/account/questions" method="POST" class="mb-5">

        <fieldset class="form-group mt-4">
          <p><strong>Are you an accredited investor?</strong><br><small class="form-text text-muted">Click <a href="#">here</a> to learn if you are an accredited investor.</small></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              No
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>What is your primary reason for investing in cryptocurrencies?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              I want to diversify my portfolio
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Mostly speculative; I want to make money
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              I want to make a lot of money, even though it might be very risky
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              I want to throw away my money
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group my-4">
          <p><strong>What are you looking for in a cryptocurrency investment advisor?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Low-risk cryptocurrency investments
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Auto-managagement of my portfolio
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              High yield, high risk investment choices
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Daily rebalancing of my portfolio
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>What is your experience level with cryptocurrencies?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              I'm new and unfamiliar with different cryptocurrencies
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              I know a little about Bitcoin but have not invested
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              I have/had investments in cryptocurrencies
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              I'm a seasoned cryptocurrency investor
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>The global cryptocurrency market is extremely volatile. If your entire investment portfolio lost 50% of its value in a month during a market decline, what would you do?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
              Sell all of your investments
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Sell some
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Keep all
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Buy more
            </label>
          </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
