{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb">
  <div class="container">
    <li class="breadcrumb-item">Asess Your Risk Tolerance</li>
    <li class="breadcrumb-item text-muted">View Your Plan</li>
    <li class="breadcrumb-item text-muted">Open Account</li>
  </div>
</ol>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="lead">Welcome to Polyledger! Please answer this set of questions to get started</p>
      <form action="/account/questions" method="POST" class="mb-5">

        <fieldset class="form-group mt-4">
          <p><strong>What is your primary reason for investing in cryptocurrencies?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              General savings
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Retirement
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              College savings
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Other
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group my-4">
          <p><strong>What are you looking for in a cryptocurrency investment advisor?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              I'd like to further diversify my investment portfolio
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              I'd like to save money on my taxes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              I'd like someone to completely manage my investments, so I don't have to
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              I'd like to match or beat the performance of the markets
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset>
          <div class="form-group">
            <label for="formGroupExampleInput"><strong>What is your current age?</strong></label>
            <input type="number" style="width: 200px !important" class="form-control" id="formGroupExampleInput">
          </div>
        </fieldset>

        <hr>

        <fieldset>
          <div class="form-group">
            <label for="formGroupExampleInput"><strong>What is your annual pre-tax income?</strong></label>
            <input type="number" style="width: 200px !important" class="form-control" id="formGroupExampleInput">
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>Which of the following best describes your household?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Single income, no dependents
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Single income, at least one dependent
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Dual income, no dependents
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Dual income, at least one dependent
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Retired or financially independent
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset>
          <div class="form-group">
            <label for="formGroupExampleInput"><strong>What is the total value of your cash and liquid investments?</strong></label>
            <p class="form-text text-muted">e.g. savings, CDs, mutual funds, IRAs, 401(k)s, public stocks</p>
            <input type="number" style="width: 200px !important" class="form-control" id="formGroupExampleInput">
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>When deciding to invest your money, which do you care about more?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Maximizing gains
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Minimizing losses
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Both equally
            </label>
          </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
          <p><strong>The global stock market is often volatile. If your entire investment portfolio lost 10% of its value in a month during a market decline, what would you do?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
              Sell all of your investments
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Sell some
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Keep all
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Buy more
            </label>
          </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
